* {
  margin: 0px;
}
body {
  font-family: "Work Sans", sans-serif;
}
main {
  max-width: 80%;
  margin: auto;
}

header {
  background: rgba(255, 144, 14, 0.1);
}
ul {
  display: flex;
  list-style: none;
  gap: 30px;
}
ul > li {
  text-align: center;
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 500;
}
nav {
  display: flex;
  justify-content: space-around;
  /* border: 1px solid black; */
  align-items: center;
  padding: 0px;
  margin: 0px;
}
h3 {
  color: var(--dark-01, #131313);
  font-family: Work Sans;
  font-size: 36px;
  font-weight: 700;
}

.banner-head {
  margin-top: 20px;
  color: var(--dark-01, #131313);
  font-family: Work Sans;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.cover-description {
  color: var(--dark-03, #727272);
  font-family: Work Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}
.cover-part img {
  width: 100%;
  height: 100%;
}
.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  align-items: center;
  text-align: center;
  padding: 20px 120px;
  /* border: 1px solid red; */
}

.cvr-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  background: #ff900e;
  padding: 20px 35px;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Work Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
}
/* Features Part */
.features-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 600px;
  /* border: 1px solid black; */
}
.features-part {
  flex: 1;
  /* border: 1px solid black; */
}

.feature-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  justify-content: center;
}

.feature-img img {
  width: 100%;
  height: 100%;
}

.feature-header {
  color: var(--dark-03, #727272);
  font-family: Work Sans;
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
}
.ofour {
  color: var(--dark-01, #131313);
  font-family: Work Sans;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
}
.features {
  color: #ff900e;
  font-family: Work Sans;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
}
.feature-description {
  color: var(--dark-03, #727272);
  font-family: Work Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 30px;
  margin-top: 20px;
  text-align: justify;
}
.feature-body {
  margin-left: 40px;
}

.feat-container {
  display: flex;
}
.feat-part {
  flex: 1;
}
.feat-experience {
  position: relative;
}
.feat-part img {
  width: 100%;
  height: 100%;
}
.feat-title {
  border-left: 6px solid #ff900e;
  padding-left: 1.5rem;
  width: 70%;
  color: var(--dark-01, #131313);
  font-family: Work Sans;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 2rem;
}
.feat-info {
  font-size: 0.9rem;
  width: 90%;
  text-align: justify;
}
.item {
  border: none;
  width: 80%;
  margin-top: 2rem;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 20px 5px darkgray;
}

.item h3 {
  color: var(--dark-01, #131313);
  font-family: Work Sans;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.item p {
  font-size: 0.8rem;
  color: #727272;
}

.experience-btn {
  position: absolute;
  top: 93%;
  right: 78%;
  padding: 30px 50px;
  background-color: #ff900e;
  border: none;
  border-radius: 10px;
}
.feat-part {
  display: flex;
  flex-direction: column;
}

.fact-container {
  margin-top: 70px;
  margin-bottom: 40px;
}
.fact-part {
  display: grid;
  grid-template-columns: repeat(4, 220px);
  gap: 0.5rem;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.fact-1 {
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  padding: 40px 30px;
}

.fact-title {
  color: var(--dark-01, #131313);
  font-family: Work Sans;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
}
.fact-info {
  color: var(--dark-03, #727272);
  font-family: Work Sans;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
}

.footer-details {
  color: var(--dark-03, #727272);
  font-family: Work Sans;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 40px;
}
footer {
  text-align: center;
  margin: auto;
}
.sponsor img {
  width: 100px;
}
.sponsor {
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin: 30px 20px 80px 20px;
}
.footer-line{
  background-color: antiquewhite;
  padding: 20px;
  width: 80%;
  margin: auto;
  font-size: 1rem;
  margin-bottom: 30px;
}




/* Media Query */
@media screen and (max-width: 576px) {
  header {
    padding: 10px;
  }
  nav {
    flex-direction: column;
  }
  ul {
    flex-wrap: wrap;
    margin: auto;
    padding: 10px;
    margin-top: 20px;
  }
  .cover {
    padding: 10px;
  }
  .feature-img {
    grid-template-columns: 1fr;
    height: auto;
  }
  .features-container {
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
  }
  .feature-body {
    margin: 0px;
  }
  .feature-img {
    grid-template-columns: 1fr;
  }

  .feat-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .experience-btn {
    position: absolute;
    left: 5px;
    right: 150px;
    padding: 5px 10px;
  }
  .feat-experience {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .fact-part {
    grid-template-columns: 1fr;
  }
  .sponsor {
    gap: 1rem;
    text-align: center;
    justify-content: center;
  }
  .sponsor img {
    width: 50px;
  }
  .footer-line{
    font-size: .8rem;
  }
}
